/* Small Buttons */
.button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.button--new-requests {
  background-color: rgb(23, 154, 114);
  border: rgb(23, 154, 114) solid 2px;
}

.button--new-requests:hover {
  background-color: rgba(23, 154, 115, 0.75);
}

.button--answered-requests {
  border: #e8a818 solid 2px;
  background-color: rgba(255, 255, 255);
}

.button--answered-requests:hover {
  background-color: rgb(250, 250, 250);
}

.button__text {
  text-decoration: none;
  color: white;
}

.button__text--yellow {
  color: #e8a818;
}

/* Large buttons */
.big-button {
  display: inline-flex;
  background-color: rgb(23, 154, 114);
  border: rgb(23, 154, 114) solid 2px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 20px;
  margin-top: 4%;
}

.big-button__text {
  color: white;
  text-decoration: none;
}

.big-button:hover {
  background-color: rgba(23, 154, 115, 0.75);
}

.big-button--yellow {
  border: #e8a818 solid 2px;
  background-color: #e8a818;
}

.big-button--yellow:hover {
  background-color: #e8aa18e1;
}

@media screen and (min-width: 840px) {
  .button {
    width: 37.82%;
    height: 100%;
    border-radius: 50px;
  }

  .button__text {
    font-size: x-large;
  }

  .button__text--large {
    font-size: xx-large;
  }

  /* Big button */
  .big-button {
    width: 1080px;
    height: 100px;
  }

  .big-button--margin {
    margin: 50px 0 50px 0;
  }
}

@media screen and (max-width: 840px) {
  .button {
    width: 190px;
    height: 40px;
    border-radius: 20px;
    padding-top: 2px;
  }

  .button__text {
    font-size: large;
  }

  .button__text--large {
    font-size: larger;
  }
}

@media screen and (max-width: 840px) {
  .big-button {
    width: 300px;
    height: 56px;
    margin-bottom: 5%;
  }

  .big-button__text {
    font-size: larger;
  }

  .big-button--margin {
    margin: 30px 0 25px 0;
  }
}
