.top-bar {
  width: 100%;
  height: 30px;
  background-color: rgb(23, 154, 114);
}

#home-content {
  width: 1366px;
  height: 784px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logo {
  width: 908px;
  height: 240px;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.logo-descript {
  text-align: center;
  color: rgb(23, 154, 114);
}

.home-actions {
  width: 902px;
  height: 182px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.button {
  display: inline-block;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  font-weight: 500;
}

.actions {
  width: 100%;
  height: 100%;
  align-content: space-between;
}
