/* Nav bar */
.top-bar {
  overflow: hidden;
  background-color: rgb(23, 154, 114);
  height: 6%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-bar--yellow {
  background-color: #e8a818;
}

.top-bar a {
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
}

.top-bar__text {
  color: white;
  margin-left: 2%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.pos-right {
  float: inline-start;
  margin-right: 2%;
}

.pos-left {
  margin-left: 2%;
}

@media screen and (min-width: 840px) {
  .pos-right {
    margin-right: 1%;
  }

  .pos-left {
    margin-left: 1%;
  }

  .top-bar a {
    font-size: x-large;
  }

  .top-bar__text {
    font-size: x-large;
  }

  .top-bar__column {
    width: 150px;
    margin-left: 1%;
  }
}

@media screen and (max-width: 840px) {
  .top-bar a {
    font-size: large;
  }

  .top-bar__text {
    font-size: large;
  }

  .top-bar__column {
    width: 175px;
  }
}
